*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
}
:root{
    --primary-green: #143b40;
    --white-color: #fff;
    --light-green: #6ae6b5;
    --dark-font-color: #082326;
    --font-color-green: #3D6266;
    --brown-color: #0b0102;

}


#home{
    width: 100%;
    height: 100vh;
    background-image: url(images/bgImage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
}
.logo{
    position: fixed;
    width: 6rem;
    height: 6rem;
    background: var(--brown-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
    transition: .3s;
}
.menu-btn{
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1000;
}
.bx-category{
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    transition: .5s;
}
.bx-category:hover{
    color: var(--light-green);
}

.nav-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background: var(--dark-font-color);
    z-index: 10001;
    transition: all .3s;
    
}
.nav-top{
    width: 100%;
    height: 10vh;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-top h1{
    font-size: 2rem;
    color: var(--white-color);
    transition: 0.5s;
}
.close-btn{
    padding: 5px 10px;
    border-radius: 6px;
    background: var(--font-color-green);
    cursor: pointer;
}
.fa-times{
    font-size: 1.5rem;
    color: var(--white-color);
}
.close-btn:hover{
    background: var(--primary-green);
}
.list-one{
    width: 400px;
}
.list-two{
    width: 400px;
}
.nav-links{
    width: 80vw;
    min-height: 75vh;
    margin: 2% 7%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}
.nav-links ul li{
    list-style: none;
    padding-bottom: 150px;
}
.nav-links ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 3rem;
    font-weight: normal;
}
.nav-links ul li a:hover{
    color: var(--light-green);
}
.nav-links span{
    font-size: 1rem;
    margin-right: 50px;
}
.nav-social-links{
    position: absolute;
    right: 3%;
    top: 32%;
    width: 2rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.nav-social-links a{
    text-decoration: none;
}
.nav-social-links .fab{
    font-size: 1.5rem;
    color: var(--white-color);
}
.nav-social-links .fab:hover{
    color: var(--light-green);
}

/* autopilot section */
#autopilot{
    width: 100%;
    height: 85vh; 
    display: flex;
    flex-wrap: wrap;
}
.left-autopilot{
    flex-basis: 50%;
    background: #55bd94;
    position: relative;
}

.img-container{
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    right: 0;
}
.img-container img{
    width: 100%;
    height: 99%;
    aspect-ratio: 16/9;
    border-radius: 0 0 0 15px;
}
.right-autopilot{
    flex-basis: 50%;
    position: relative;
}
.txt-box{
    max-width: 350px;
    margin: 20%;
}
.txt-box h1{
    font-size: 3rem;
    color: var(--dark-font-color);
    padding-bottom: 1.5rem;
}
.txt-box p{
    font-size: 1rem;
    color: var(--font-color-green);
    line-height: 1.5rem;
}
.right-autopilot .btn{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 350px;
    height: 105px;
    background: var(--light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: var(--dark-font-color);
    font-size: 1rem;
    border-radius: 0 25px 0 0;
}
.right-autopilot .btn:hover{
    background: #55bc93;
}
.right-autopilot .btn .fas{
    color: var(--dark-font-color);
    font-size: 1.5rem;
    padding-left: 1rem;
}

/* Statistics section */
.large-section{
    width: 100vw;
    height: 150vh;
    background: var(--dark-font-color);
    padding: 10% 8% 5% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats{
    width: 100%;
    margin-bottom: 6%;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}
#statistics img{
    max-width: 100%;
    border-radius: 20px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data h1{
    font-size: 5rem;
    color: var(--white-color);
    padding-bottom: 30px;
}
.data p{
    font-size: 1.2rem;
    color: var(--light-green);
}
/* design section */
#design{
    width: 100vw;
    height: 55vh;
    background: var(--dark-font-color);
    padding: 5% 8%;
}
#design h3{
    font-size: 1rem;
    color: var(--light-green);
}
.line{
    height: 2px;
    width: 1rem;
    background: var(--light-green);
}
.design-txt{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.txt-left{
    min-width: 300px;
    margin-right: 150px;
}
.txt-left h1{
    font-size: 3.5rem;
    color: var(--white-color);
}
.txt-right{
    max-width: 300px;
    
}
.txt-p{
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 1.rem;
}


/* sellingPoints section */
.sellingPoints{
    width: 100vw;
    height: auto;
    background: var(--light-green);
    display: flex;
    justify-content: center;
    padding-left: 8%;
    padding-top: 50px;
    
}
.left-point{
    background: var(--white-color);
}
.left-point-txt{
    padding: 25%;
}
.left-point-txt h2{
    font-size: 3rem;
    color: var(--dark-font-color);
    margin-bottom: 20px;
}
.left-point-txt p{
    font-size: 1.1rem;
    color: var(--font-color-green);
    line-height: 1.5rem;
}

.points-img{
    max-width: 50vw;
}
.sellingPoints2{
    width: 100vw;
    height: auto;
    background: var(--light-green);
    display: flex;
    justify-content: center;
    padding-right: 8%;
    padding-top: 50px;
    
}

#scalability img{
    max-width: 100%;
    border-radius: 20px;
}

/* end of selling points */


/* scalability section */
#scalability{
    width: 100vw;
    min-height: 150vh;
    background: var(--white-color);
    padding: 5% 8%;
}
#scalability h3{
    color: var(--light-green);
}
.scala-txt{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.txt-left{
    min-width: 300px;
    margin-right: 150px;
}
#scalability .txt-left h1{
    font-size: 3.5rem;
    color: var(--dark-font-color);
}
.txt-right{
    max-width: 300px;
    
}
#scalability .txt-p{
    font-size: 1.4rem;
    color: var(--font-color-green);
    line-height: 1.rem;
}

/* modules section */
#modules{
    width: 100vw;
    min-height: 130vh;
    background: var(--white-color);
    padding: 0 10%;
    
}
#modules h3{
    font-size: 1.4rem;
    color: var(--dark-font-color);
    margin-bottom: 90px;
}
.modules-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
}
.module{
    max-width: 300px;
    min-height: 150px;
    background: transparent;
    margin: 0 50px 50px 0;
    padding: 10px;
    box-shadow: 0 0 1px 0.5px var(--light-green);
    border-radius: 20px;
    cursor: pointer;
}
.module:hover{
    box-shadow: -5px -5px 1px 1px var(--light-green);

}
.module h5{
    font-size: 0.8rem;
    color: var(--dark-font-color);
    padding: 10px 0;
}
.module p{
    font-size: 1rem;
    color: var(--font-color-green);
    
}

/* end of modules */

/* contact form */
#contactForm{
    width: 100vw;
    min-height: 100vh;
    background: var(--white-color);
    display: flex;
    padding:  15%;
}

.contact-txt{
    width: 500px;
    padding-right: 100px;
    margin-bottom: 100px;
}

.contact-txt h1{
    font-size: 2.5rem;
    color: var(--dark-font-color);
    padding-bottom: 25px;
}
.contact-txt p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--font-color-green);
    
}

form{
    display: flex;
    flex-direction: column;
}

input{
    width: 400px;
    height: 35px;
    outline: none;
    border: 0;
    border-radius: 5px;
    border-bottom: 2px solid var(--font-color-green);
    font-size: 1.2rem;
    color: var(--dark-font-color);
    margin-bottom: 50px;
}
::placeholder{
    font-size: 1.2rem;
}
.form-btn{
    padding: 15px 30px;
    background: var(--light-green);
    border-radius: 5px;
    color: var(--dark-font-color);
    font-size: 1rem;
    text-transform: uppercase;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-btn:hover{
    box-shadow: 5px -5px 1px 1px var(--light-green);
    background: transparent;
    border: 1px solid var(--light-green);
}

footer{
    width: 100vw;
    height: 65vh;
    background: var(--dark-font-color);
    padding: 5% 15%;
    display: flex;
    align-items: center;
}
.footer-left{
    max-width: 150px;
    margin-right: 200px;
    
}
.footer-right{
    min-width: 400px;
}

footer .list-one{
    min-width: 200px;
}
footer .list-two{
    width: 200px;
}
footer .nav-links{
    width: 40vw;
    min-height: 40vh;
    /* margin: 2% 10%; */
    /* padding:  5%; */
    display: flex;
    justify-content: space-between;
}
footer .nav-links ul li{
    list-style: none;
    padding-bottom: 80px;
}
footer .nav-links ul li a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: normal;
}
footer .nav-links ul li a:hover{
    color: var(--light-green);
}
footer .nav-links span{
    font-size: 1rem;
    margin-right: 50px;
}

/* footer .nav-social-links{
    position: absolute;
    right: 3%;
    top: 32%;
    width: 2rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
footer .nav-social-links a{
    text-decoration: none;
}
footer .nav-social-links .fab{
    font-size: 1.5rem;
    color: var(--white-color);
}
footer .nav-social-links .fab:hover{
    color: var(--light-green);
} */
























@media only screen and (max-width: 800px){
    
    .logo{
        width: 4rem;
        height: 4rem;    
    }
    .nav-links{
        width: 80vw;
        height: 75vh;
        display: flex;
        flex-wrap: wrap;
    }
    .nav-links ul li{
        padding-bottom: 40px;
    }
    .nav-links ul li a{
        font-size: 2.5rem;
    }

    .nav-links span{
        font-size: .9rem;
        margin-right: 25px;
    }
    
    .nav-social-links{
        position: absolute;
        top: 680px;
        right: 25%;
        width: 15rem;
        height: 2rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    /* autopilot section */
    #autopilot{
        width: 100%;
        height: 85vh; 
        display: flex;
        flex-wrap: wrap;
    }
    .left-autopilot{
        display: none;
    }

    .right-autopilot{
        flex-basis: 100%;

    }
    .txt-box{
        max-width: 350px;
        margin: 25% 15%;
    }
    .txt-box h1{
        font-size: 3rem;
        color: var(--dark-font-color);
        padding-bottom: 1.5rem;
    }
    .txt-box p{
        font-size: 1rem;
        color: var(--font-color-green);
        line-height: 1.5rem;
    }
    .right-autopilot .btn{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 350px;
        height: 98px;
        background: var(--light-green);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        color: var(--dark-font-color);
        font-size: 1.2rem;
        border-radius: 0 25px 0 0;
    }
    .right-autopilot .btn:hover{
        background: #55bc93;
    }
    .right-autopilot .btn .fas{
        color: var(--dark-font-color);
        font-size: 2rem;
        padding-left: 1rem;
    }

    /* Statistics section */
    #statistics{
        width: 100vw;
        height: auto;
        
    }
   
    #statistics img{
        max-width: 100%;
        border-radius: 20px;
    }
    .data{
        width: 100%;
        margin-bottom: 50px;
        
    }
    .data h1{
        font-size: 5rem;
        color: var(--white-color);
        padding-bottom: 30px;
    }
    .data p{
        font-size: 1.2rem;
        color: var(--light-green);
    }

    /* design section */
   
   
    .line{
        margin-top: 5px;
    }
    
    .txt-left{
        min-width: 300px;
    }
    .txt-left h1{
        font-size: 2.5rem;
        padding-bottom: 50px;
    }
    .txt-right{
        max-width: 400px;
        
    }
    .txt-p{
        font-size: 1.2rem;
        
    }
    /* sellingPoints section */
    .sellingPoints{
        flex-wrap: wrap-reverse;
        padding: 5%;
    }
    .sellingPoints2{
        flex-wrap: wrap-reverse;
        padding: 5%;
    }
    
    .left-point{
        background: var(--white-color);

    }
    .left-point-txt{
        padding: 15%;
    }
    .left-point-txt h2{
        font-size: 2.5rem;
    }
     
    .points-img{
        max-width: 90vw;
        margin: 0 auto;
        border-radius: 20px 20px 0 0;

    }

    /* scalability section */
#scalability{
    min-height: 100vh;
}


.txt-left{
    margin-right: 30px;
}
#scalability .txt-left h1{
    font-size: 2.5rem;
}

#scalability .txt-p{
    font-size: 1.2rem;
}

/* modules section */
#modules{
    width: 100vw;
    min-height: 150vh;
    background: var(--white-color);
    padding: 0 10%;
    
}
#modules h3{
    font-size: 1.4rem;
    color: var(--dark-font-color);
    margin-bottom: 90px;
}
.modules-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
}
.module{
    max-width: 370px;
    min-height: 150px;
    background: transparent;
    margin: 0 50px 50px 0;
    padding: 10px;
    box-shadow: 0 0 1px 0.5px var(--light-green);
    border-radius: 20px;
    cursor: pointer;
}
.module:hover{
    box-shadow: -5px -5px 1px 1px var(--light-green);

}
.module h5{
    font-size: 0.8rem;
    color: var(--dark-font-color);
    padding: 10px 0;
}
.module p{
    font-size: 1rem;
    color: var(--font-color-green);
    
}

/* contact form */
#contactForm{
    width: 100vw;
    min-height: auto;
    background: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    padding: 15% 15%;
}
.contact-txt{
    min-width: 450px;
    padding-right: 100px;
    margin-bottom: 100px;
}

.contact-txt h1{
    font-size: 2.5rem;
    color: var(--dark-font-color);
    padding-bottom: 25px;
}
.contact-txt p{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--font-color-green);
    
}

input{
    min-width: 350px;
    height: 35px;
    outline: none;
    border: 0;
    border-radius: 5px;
    border-bottom: 2px solid var(--font-color-green);
    font-size: 1.2rem;
    color: var(--dark-font-color);
}
::placeholder{
    font-size: 1.2rem;
}
.form-btn{
    padding: 15px 30px;
    background: var(--light-green);
    border-radius: 5px;
    color: var(--dark-font-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

    
}

